#chartDiv div {
  display: block;
  height: 450px;
}

.image {
  display: inline-block;
  max-height: 350px;
  max-width: auto;
}

#img1 {
  float: left;
  margin-left: 12%;
}

#img2 {
  float: right;
  margin-right:12%;
}

.choiceButton {
  display: block;
  vertical-align: bottom;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

