/*Background image:   */
body {
  background-image: url("Images/Commune-social-shanghai-11.jpg");
  background-repeat: no-repeat;
  max-width: 1583px;
}

/*Header formatting:  */
hgroup {
  background-color: #73cd12;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 5px;
  text-shadow: 3px 3px black;
  border-radius: 5px;
  border: 4px solid #73cd12;
  background-image: inherit;
  font-size: 1.5em;
  font-weight: bold;
  color: beige;
  font-family: Serif;
}

#instructions {
  text-align: right;
  margin-right: 20px;
}

#underline {
  text-decoration: underline;
}

/*Chart and beverage list flexbox formats:   */
#dynamicContent {
  display: flex;
  flex-wrap: wrap; }
    #chartContent {
      order: 1;
      min-width: 675px;
      height: 410px;
      margin-left: 2%; }
    #listContent {
      order: 2;
      width: 250px;
      height: 400px;
      margin-left: 2%;
    }

  /*Beverage list formats:  */
  #bevList {
    color: orange;
    font-size: 1.5em;
    font-family: arial;
    font-style: italic;
    text-shadow: 2px 2px black; }
      #dt {
        font-style: normal;
        text-decoration: underline; }
      dd {
        border-bottom: 2px solid black;
        box-shadow: 2px 0px 4px black;
        padding-left: 5px;
        padding-bottom: 2px; }
      .droppable {
        padding-bottom: 12px;
        border-bottom: 4px solid green; }

      .normal, .droppable {
        transition: all .25s;
      }

  /*CanvasJS chart formats:   */
  .canvasjs-chart-container {
    background: none;
  }

  .canvasjs-chart-canvas {
    border: 4px solid green;
    box-shadow: 0px 0px 15px black;
    border-radius: 8px;
  }

  .canvasjs-chart-credit {
    display: none;
  }

/*Beverage choice images formatting:  */
#images {
  display: flex;
  flex-wrap: nowrap;
}

.image {
  display: inline-block;
  width: 450px;
  height: 300px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#img1 {
  order: 1;
  float: left;
  margin-left: 10%;
}

#img2 {
  order: 2;
  float: right;
  margin-right: 10%;
}

img {
  max-width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: 2px solid grey;
  box-shadow: 0px 0px 15px grey;
}

/*Voting buttion formatting:  */
.choiceButton {
  display: block;
  vertical-align: bottom;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.choiceButton:active {
  display: block;
  vertical-align: bottom;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: red;
}

